<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @title.img %>
</p>

<p>
  <strong>Content:</strong>
  <%= @title.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @title.date %>
</p>

<p>
  <strong>Pors:</strong>
  <%= @title.pors %>
</p>

<p>
  <strong>Born:</strong>
  <%= @title.born %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
